* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}

.main ul li {
    display: inline-block;
    font-size: 20px;
    margin: 0 8px;
    padding: 0 3px;
    color: white;
    padding: 3px 5px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    opacity: 0.8;
    transition: 1s;
}

.main ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.6px;
    width: 100%;
    background-color: white;
    transform: scale(0);
    transition: 1s;
}


.main ul li:hover::after {
    transform: scale(1);
    opacity: 1;
}

.main ul li:hover {
    opacity: 1;
    color: orange;
}

svg {
    transition: 1s;
}

.service:hover svg {
    transform: rotate(180deg);
}

.main ul li ul {
    display: block;
    position: absolute;
    background-color: #1dcd3a;
    margin-top: 4px;
    display: none;
    padding: 6px 5px;
}

.main ul li ul li {
    display: block;
    margin: 2px 0;
}

.main ul li:hover ul {
    display: block;
}
